
.Main {
  text-align: center;
  background-color: rgb(50, 116, 146);
  height: 98.5vh;
  padding: 5px;
  
}
.MainContainer{
  background-color: rgba(0, 0, 0, 0.5);
  height: 90vh;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  overflow: auto;
  border-radius: 10px;
}

.MainContainer h1{
  color: white;
  position: relative;
  top: 15px;
  margin-bottom: 30px;
}

.MainContainer input{
  width: 170px;
  margin: 5px;
  height: 20px;
  border-radius: 5px;
  border: none;
}

.AddBtn{
  width: 150px;
  height: 24px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(47, 146, 108);
}